<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="routingData">
          <routing filterTableName="table1" />
        </behavior> 
      </serviceBehaviors> 
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="default">
          <reliableSession enabled="false"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint name="e1" address="http://localhost/ServiceA/Service1.svc" contract="*" binding="wsHttpBinding" bindingConfiguration="default" />
      <endpoint name="e2" address="http://localhost/ServiceA/Service2.svc" contract="*" binding="wsHttpBinding" bindingConfiguration="default" />
    </client>
    
    <routing>     
      <filters>
        <filter name="filter1" filterType="EndpointAddress" filterData="http://localhost/ServiceA/Service1.svc"/>
        <filter name="filter2" filterType="EndpointAddress" filterData="http://localhost/ServiceA/Service2.svc"/>
      </filters>   
      
      <filterTables>
        <filterTable name="table1">
          <add endpointName="e1" filterName="filter1"/>
          <add endpointName="e2" filterName="filter2"/>
        </filterTable> 
      </filterTables>      
    </routing>
    
    <services> 
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="routingData">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/routingservice/router"/>
          </baseAddresses>
        </host> 
        <endpoint binding="wsHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" bindingConfiguration="default" />
      </service>
    </services>
    
  </system.serviceModel>
</configuration>